# node modules 
/node_modules

# lockfiles 
package-lock.json
pnpm-lock.yaml
bun.lock

# Core files 
lib
test
types
index.ts 

# Configs 
jest.config.js 
tsconfig.json
structure.sh
tsup.config.js

# Dev folders
dev-test